<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myfarmnow.myfarmcrop">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CropPurchaseOrderPreviewActivity"></activity>
        <activity android:name=".activities.CropPurchaseOrdersListActivity"></activity>
        <activity android:name=".activities.CropPurchaseOrderManagerActivity" />
        <activity
            android:name=".activities.CropTasksListActivity"
            android:label="Tasks" />
        <activity
            android:name=".activities.CropTaskManagerActivity"
            android:label="Task Manager" />
        <activity
            android:name=".activities.CropIncomeExpensesListActivity"
            android:label="Income / Expenses " />
        <activity
            android:name=".activities.CropIncomeExpenseManagerActivity"
            android:label="Income / Expenses Manager" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.CropEmployeesListActivity"
            android:label="Employees List" />
        <activity
            android:name=".activities.CropProductManagerActivity"
            android:label="@string/product_manager" />
        <activity
            android:name=".activities.CropCustomerManagerActivity"
            android:label="@string/activity_crop_customer_manager_title" />
        <activity
            android:name=".activities.CropEmployeeManagerActivity"
            android:label="Employee Manager" />
        <activity
            android:name=".activities.CropsListActivity"
            android:label="@string/activity_crops_list" />
        <activity
            android:name=".activities.CropSoilAnalysisListActivity"
            android:label="@string/activity_soil_analysis_list_label" />
        <activity
            android:name=".activities.CropSoilAnalysisManagerActivity"
            android:label="@string/activity_soil_analysis_manager_label" />
        <activity
            android:name=".activities.CropSprayingManagerActivity"
            android:label="@string/activity_spraying_manager_label" />
        <activity
            android:name=".activities.CropFertilizerApplicationManagerActivity"
            android:label="@string/activity_fertilizer_application_manager_label" />
        <activity
            android:name=".activities.CropCultivationManagerActivity"
            android:label="@string/activity_cultivate_manage" />
        <activity
            android:name=".activities.CropsManagerActivity"
            android:label="@string/activity_crop_manager" />
        <activity
            android:name=".activities.CropMachinesListActivity"
            android:label="@string/machines_list" />
        <activity
            android:name=".activities.CropMachineManagerActivity"
            android:label="@string/activity_crop_machine_manager" />
        <activity
            android:name=".activities.CropFieldsListActivity"
            android:label="@string/title_activity_crop_fields_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropFieldManagerActivity"
            android:label="@string/activity_crop_field_manager_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropDashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInventorySeedsManagerActivity"
            android:label="@string/title_activity_crop_inventory_seeds_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInventoryListActivity"
            android:label="@string/label_inventory_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInventoryFertilizerManagerActivity"
            android:label="@string/title_activity_crop_inventory_fertilizer_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInventorySprayManagerActivity"
            android:label="@string/title_activity_crop_inventory_spray_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropCultivationsListActivity"
            android:label="@string/title_activity_crop_cultivate_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropSprayingListActivity"
            android:label="@string/title_activity_crop_spraying_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropFertilizerApplicationListActivity"
            android:label="@string/title_activity_crop_fertilizer_application_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropEstimateManagerActivity"
            android:label="@string/title_activity_crop_estimate_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropCustomersListActivity"
            android:label="@string/title_activity_crop_customers_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropProductsListActivity"
            android:label="@string/title_activity_crop_products_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropSuppliersListActivity"
            android:label="@string/title_activity_crop_supplies_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropSupplierManagerActivity"
            android:label="@string/title_activity_crop_supplier_manager" />
        <activity
            android:name=".activities.CropEstimatesListActivity"
            android:label="@string/title_activity_crop_estimates_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInvoiceManagerActivity"
            android:label="@string/title_activity_crop_invoice_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInvoicesListActivity"
            android:label="@string/title_activity_crop_invoices_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropPaymentManagerActivity"
            android:label="@string/title_activity_crop_payment_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropPaymentsListActivity"
            android:label="@string/title_activity_crop_payments_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInvoicePreviewActivity"
            android:label="@string/title_activity_crop_invoice_preview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropEstimatePreviewActivity"
            android:label="@string/title_activity_crop_estimate_preview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropSalesOrdersListActivity"
            android:label="@string/title_activity_crop_sales_order_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropSalesOrderManagerActivity"
            android:label="@string/title_activity_crop_sales_order_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropSalesOrderPreviewActivity"
            android:label="@string/title_activity_crop_sales_order_preview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropLoginActivity"
            android:label="@string/title_activity_dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CropRegisterActivity"
            android:label="Register" />
        <activity
            android:name=".activities.CropVerifyPhoneNumberActivity"
            android:label="@string/title_activity_crop_verify_phone_number"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>