<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myfarmnow.myfarmcrop">

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CropEmployeeManagerActivity"></activity>
        <activity
            android:name=".activities.CropsListActivity"
            android:label="@string/activity_crops_list" />
        <activity
            android:name=".activities.CropSoilAnalysisListActivity"
            android:label="@string/activity_soil_analysis_list_label" />
        <activity
            android:name=".activities.CropSoilAnalysisManagerActivity"
            android:label="@string/activity_soil_analysis_manager_label" />
        <activity
            android:name=".activities.CropSprayingManagerActivity"
            android:label="@string/activity_spraying_manager_label" />
        <activity
            android:name=".activities.CropFertilizerApplicationManagerActivity"
            android:label="@string/activity_fertilizer_application_manager_label" />
        <activity
            android:name=".activities.CropCultivationManagerActivity"
            android:label="@string/activity_cultivate_manage" />
        <activity
            android:name=".activities.CropsManagerActivity"
            android:label="@string/activity_crop_manager" />
        <activity
            android:name=".activities.CropMachinesListActivity"
            android:label="@string/machines_list" />
        <activity
            android:name=".activities.CropMachineManagerActivity"
            android:label="@string/activity_crop_machine_manager" />
        <activity
            android:name=".activities.CropFieldsListActivity"
            android:label="@string/title_activity_crop_fields_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropFieldManagerActivity"
            android:label="@string/activity_crop_field_manager_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropDashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CropInventorySeedsManagerActivity"
            android:label="@string/title_activity_crop_inventory_seeds_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInventoryListActivity"
            android:label="@string/label_inventory_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInventoryFertilizerManagerActivity"
            android:label="@string/title_activity_crop_inventory_fertilizer_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInventorySprayManagerActivity"
            android:label="@string/title_activity_crop_inventory_spray_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropCultivationsListActivity"
            android:label="@string/title_activity_crop_cultivate_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropSprayingListActivity"
            android:label="@string/title_activity_crop_spraying_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropFertilizerApplicationListActivity"
            android:label="@string/title_activity_crop_fertilizer_application_list"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>