<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myfarmnow.myfarmcrop">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.CropManagerApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:usesCleartextTraffic,android:theme"
        tools:targetApi="m">

        <activity
            android:name=".activities.marketplace.MarketPlaceActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".services.CropNotificationsFireService"
            android:enabled="false"
            android:exported="false" />

        <activity android:name=".activities.BackUpActivity" />

        <service
            android:name=".services.CropSyncService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.CropsNotesListActivity"
            android:label="Crop Notes" />

        <receiver
            android:name=".broadcasts.CropBroadcastsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.CropsNotesManagerActivity"
            android:label="Crop Notes Manager" />

        <activity
            android:name=".activities.CropContactsListActivity"
            android:label="Contacts" />
        <activity
            android:name=".activities.CropContactManagerActivity"
            android:label="Contact Manager" />
        <activity
            android:name=".activities.CropScoutingManagerActivity"
            android:label="Scouting Manager" />
        <activity
            android:name=".activities.CropTransplantingManagerActivity"
            android:label="Transplanting Manager" />
        <activity
            android:name=".activities.CropIrrigationManagerActivity"
            android:label="Irrigation Manager" />
        <activity
            android:name=".activities.CropPaymentBillsListActivity"
            android:label="Payments" />
        <activity
            android:name=".activities.CropBillsListActivity"
            android:label="Bills" />
        <activity
            android:name=".activities.CropBillPaymentManagerActivity"
            android:label="Bill Payment Manager" />
        <activity
            android:name=".activities.CropBillPreviewActivity"
            android:label="Bill Preview" />
        <activity
            android:name=".activities.CropBillManagerActivity"
            android:label="Bill Manager" />
        <activity
            android:name=".activities.CropPurchaseOrderPreviewActivity"
            android:label="Purchase Order Preview" />
        <activity
            android:name=".activities.CropPurchaseOrdersListActivity"
            android:label="Purchase Orders" />
        <activity
            android:name=".activities.CropPurchaseOrderManagerActivity"
            android:label="Purchase Order Manager"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CropTasksListActivity"
            android:label="Tasks" />
        <activity
            android:name=".activities.CropTaskManagerActivity"
            android:label="Task Manager" />
        <activity
            android:name=".activities.farmrecords.CropIncomeExpensesListActivity"
            android:label="Income / Expenses " />
        <activity
            android:name=".activities.farmrecords.CropIncomeExpenseManagerActivity"
            android:label="Income / Expenses Manager" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.CropEmployeesListActivity"
            android:label="Employees" />
        <activity
            android:name=".activities.CropProductManagerActivity"
            android:label="@string/product_manager" />
        <activity
            android:name=".activities.CropCustomerManagerActivity"
            android:label="@string/activity_crop_customer_manager_title" />
        <activity
            android:name=".activities.CropEmployeeManagerActivity"
            android:label="Employee Manager" />
        <activity
            android:name=".activities.CropSoilAnalysisListActivity"
            android:label="@string/activity_soil_analysis_list_label" />
        <activity
            android:name=".activities.CropSoilAnalysisManagerActivity"
            android:label="@string/activity_soil_analysis_manager_label" />
        <activity
            android:name=".activities.predictiontools.CropFertilizerApplicationManagerActivity"
            android:label="@string/activity_fertilizer_application_manager_label" />
        <activity
            android:name=".activities.CropCultivationManagerActivity"
            android:label="@string/activity_cultivate_manage" />
        <!--        <activity-->
        <!--            android:name=".activities.farmrecords.CropFieldsListActivity"-->
        <!--            android:label="@string/title_activity_crop_fields_list"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".activities.farmrecords.FarmRecordsDashboardActivity"
            android:label="@string/title_farm_records"
            android:theme="@style/AppTheme.NoActionBar">
            <!--        <intent-filter>-->
            <!--            <action android:name="android.intent.action.MAIN" />-->
            <!--            &lt;!&ndash;  &ndash;&gt;-->
            <!--            <category android:name="android.intent.category.LAUNCHER" />-->
            <!--        </intent-filter>-->
        </activity>
        <activity
            android:name=".activities.agronomy.AgronomyDashboardActivity"
            android:label="@string/title_agronomy"
            android:theme="@style/AppTheme.NoActionBar">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!---->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activities.predictiontools.PredictionToolsDashboardActivity"
            android:label="@string/title_predictiontools"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.services.ServicesDashboardActivity"
            android:label="@string/title_service"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.farmrecords.CropEstimateManagerActivity"
            android:label="@string/title_activity_crop_estimate_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropCustomersListActivity"
            android:label="@string/title_activity_crop_customers_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropProductsListActivity"
            android:label="@string/title_activity_crop_products_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CropSuppliersListActivity"
            android:label="@string/title_activity_crop_supplies_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropSupplierManagerActivity"
            android:label="@string/title_activity_crop_supplier_manager" />
        <activity
            android:name=".activities.farmrecords.CropEstimatesListActivity"
            android:label="@string/title_activity_crop_estimates_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInvoiceManagerActivity"
            android:label="@string/title_activity_crop_invoice_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInvoicesListActivity"
            android:label="@string/title_activity_crop_invoices_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropPaymentManagerActivity"
            android:label="@string/title_activity_crop_payment_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropPaymentsListActivity"
            android:label="@string/title_activity_crop_payments_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropInvoicePreviewActivity"
            android:label="@string/title_activity_crop_invoice_preview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropEstimatePreviewActivity"
            android:label="@string/title_activity_crop_estimate_preview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropSalesOrdersListActivity"
            android:label="@string/title_activity_crop_sales_order_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropSalesOrderManagerActivity"
            android:label="@string/title_activity_crop_sales_order_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropSalesOrderPreviewActivity"
            android:label="@string/title_activity_crop_sales_order_preview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Login"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CropVerifyPhoneNumberActivity"
            android:label="@string/title_activity_crop_verify_phone_number"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropROIStep1Activity"
            android:label="@string/title_activity_crop_roi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropROIStep2Activity"
            android:label="@string/title_activity_crop_roi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropROIStep3Activity"
            android:label="@string/title_activity_crop_roi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropROIStep4Activity"
            android:label="@string/title_activity_crop_roi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropROIStep5Activity"
            android:label="@string/title_activity_crop_roi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropROIResultsActivity"
            android:label="@string/title_activity_crop_roiresults"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropFertilizerCalculatorEntryActivity"
            android:label="@string/title_activity_crop_fertilizer_calculator_entry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropFertilizerCalculatorResults"
            android:label="@string/title_activity_crop_fertilizer_calculator_results"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropCalculatorsActivity"
            android:label="@string/title_activity_crop_calculators"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropNutrientsCalculatorEntryActivity"
            android:label="@string/title_activity_crop_nutrients_calculator_entry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropNutrientsCalculatorResults"
            android:label="@string/title_activity_crop_nutrients_calculator_results"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.agronomy.CropPDFViewActivity"
            android:label="@string/title_activity_crop_pdfview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.agronomy.CropBestPracticesDashboardActivity"
            android:label="@string/title_activity_crop_best_practices_dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CropMachineTaskManagerActivity"
            android:label="@string/title_activity_crop_machine_task_manager" />
        <activity
            android:name=".activities.CropMachineNotesManagerActivity"
            android:label="@string/title_activity_crop_notes_manager" />
        <activity
            android:name=".activities.CropMachineServiceManagerActivity"
            android:label="@string/title_activity_crop_machine_service_manager" />
        <activity
            android:name=".activities.CropMachineNotesListActivity"
            android:label="@string/title_activity_crop_machine_notes_list" />
        <activity
            android:name=".activities.CropMachineTasksListActivity"
            android:label="@string/title_activity_crop_machine_tasks_list" />
        <activity
            android:name=".activities.CropMachineServicesListActivity"
            android:label="@string/title_activity_crop_machine_services_list" />
        <activity
            android:name=".activities.CropFarmReportsActivity"
            android:label="@string/title_activity_crop_farm_reports"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.predictiontools.CropYieldPerformanceActivity"
            android:label="@string/title_activity_crop_yield_performance"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.CropSettingsActivity"
            android:label="@string/title_activity_crop_settings"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Wallet plugin activities -->
        <activity android:name=".activities.wallet.WalletPurchaseCardPreviewActivity" />


        <activity
            android:name=".activities.wallet.WalletAuthActivity"
            android:label="Authentication" />
        <activity
            android:name=".activities.wallet.LoanStatusPreviewActivity"
            android:label="@string/title_activity_loan_status_preview" />

        <service
            android:name=".services.CropNotificationsCreatorService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyFirebaseInstanceIdService"
            android:permission="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>